.ratings_bar {
  position: relative;
  margin: 5px 5px 5px 40px;
  height: 12.73px;
  width: 230px;
  border-radius: 50px;
  background-color: #DDDDDD;
}

.filler {
  background: #999999;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in
}

.bars {
  /* position: relative */
}

.num_stars {
  color: #DDDDDD;
  float: left
}

#rating_bars {
  margin: 8px 0 0 10px;
  position: relative;
  width: 500
}